body {
    background-color: lightblue
}

.infoBar {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.infoBar div {
    font-size: 35px;
}

.time {
    padding-left: 50%;
}

.instructions h1,
.instructions p,
.buttonControl {
    display: flex;
    justify-content: center;
}
.instructions div {
    padding-top: 20px;
    line-height: 100%;
}

.instructions h1 {
    font-size: 50px;
}

.instructions p {
    /* background-color: blue; */
    font-size: 25px;
    padding-bottom: 10%;
}

.buttonControl button {
    opacity: 70%;
    background-color: rgb(238, 201, 186);
    border: 0px;
    padding: 15px 32px;
    font-size: 25px;
    box-shadow: 0 9px #999;
}

.buttonControl button:hover {
    opacity: 100%;
}

.buttonControl button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonControl button:active:after {
    opacity: 70%;
    background-color: rgb(238, 201, 186);
    border: 0px;
    padding: 15px 32px;
    font-size: 25px;
    box-shadow: 0 9px #999;
}