body {
    background-color: lightblue
}

.info-bar {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.info-bar div {
    font-size: 35px;
}

.time {
    padding-left: 50%;
}

.instructions h1,
.instructions p,
.button-control,
.question-block {
    display: flex;
    justify-content: center;
}

.instructions div {
    padding-top: 20px;
    line-height: 100%;
}

.instructions h1 {
    font-size: 50px;
}

.instructions p {
    font-size: 25px;
}

.instruction-box {
    font-size: 25px;
    padding-bottom: 10%;
}

.button-control button {
    opacity: 70%;
    background-color: rgb(238, 201, 186);
    border: 0px;
    padding: 15px 32px;
    font-size: 25px;
    box-shadow: 0 9px #999;
}

.button-control button:hover {
    opacity: 100%;
}

.button-control button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-control button:active:after {
    opacity: 70%;
    background-color: rgb(238, 201, 186);
    border: 0px;
    padding: 15px 32px;
    font-size: 25px;
    box-shadow: 0 9px #999;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.question {
    font-size: 35px;
}

.questions {
    padding-top: 150px;
}

.choices,
.answer-choice {
    display: none;
    margin: auto;
    width: 50%;
}

.choices button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin-bottom: 10px;
}

.choices button:not(:last-child) {
    /* border-bottom: none; */
}

.choices button:hover {
    background-color: #3e8e41;
}